@use "../../../global" as *;

.p-loader{
    position: fixed;
    inset: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $bg-beige;
    transition: opacity 0.6s ease, visibility 0.6s;
    &.is-loaded {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
    &__inner {
        text-align: center;
        color: $text-black;
    }
    &__percent {
        font-size: 1.4rem;
        letter-spacing: 0.05em;
    }
    &__bar {
        margin-top: 16px;
        width: 200px;
        height: 8px;
        background-color: rgba(255, 255, 255, 0.3); // 未進行部分の薄い背景
        overflow: hidden;
        border-radius: 100px;
    }
    &__bar-inner {
        width: 0%;
        height: 100%;
        background-color: $text-black;
        transition: width 0.15s linear;
    }
}