@use "../global" as *;

.l-header{
    width: 100%;
    padding: 15px 16px 15px 28px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    transform: translateY(-100%);
    opacity: 0;
    transition: transform 0.8s ease, opacity 0.8s ease, padding 0.8s ease;
    @include mq(pc){
        padding: min(3.5vw,69px) 5.8vw min(3.5vw,69px) 5vw;
    }
    &.is-scroll{
        padding: 10px 16px 10px 28px;
        background-color: rgba(235, 231, 225, 0.5);
        transition: padding 0.8s ease, background 0.8s ease;
        @include mq(pc){
            padding: 1.7vw 5.8vw 1.7vw 5vw;
        }
    }
    &.is-show{
        transform: translateY(0);
        opacity: 1;
    }
    &__inner{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 2;
    }
    &__logo{
        @include mq(pc){
            width: 9.5%;
        }
        &-link{
            font-family: "Roboto", sans-serif;
            font-size: 1.8rem;
            font-weight: 500;
            @include mq(pc){
                font-size: fluid-font(18, 20);
            }
        }
    }
    &__nav{
        display: none;
        @include mq(pc){
            display: block;
        }
        &.is-active{
            display: none;
        }
        &-container{
            display: flex;
            align-items: center;
            @include mq(pc){
                column-gap: min(5.2vw,100px);
            }
        }
        &-list{
            display: flex;
            align-items: center;
            column-gap: 2.25vw;
        }
        &-link{
            font-family: "Roboto", sans-serif;
            font-size: fluid-font(16, 18);
            font-weight: 500;
        }
    }
    &__menu{
        &-button{
            width: 50px;
            aspect-ratio: 1/1;
            display: flex;
            align-items: center;
            justify-content: center;
            @include mq(pc){
                display: none;
            }
            &.is-active{
                .l-header__menu-line{
                    transition: transform 0.3s ease;
                    &:nth-of-type(1){
                        top: 50%;
                        transform: rotate(30deg) translateY(-50%);
                    }
                    &:nth-of-type(2){
                        display: none;
                    }
                    &:nth-of-type(3){
                        bottom: 50%;
                        transform: rotate(-30deg) translateY(50%);
                    }
                }
            }
        }
        &-box{
            width: 40%;
            aspect-ratio: 24/14;
            position: relative;
        }
        &-line{
            width: 100%;
            height: 2px;
            position: absolute;
            background: $text-black;
            transition: transform 0.3s ease;
            &:nth-of-type(1){
                top: 0;
                left: 0;
            }
            &:nth-of-type(2){
                top: 50%;
                left: 0;
                transform: translateY(-50%);
            }
            &:nth-of-type(3){
                bottom: 0;
                left: 0;
            }
        }
    }
}

.l-menu{
    width: 100%;
    height: 100dvh;
    padding: 120px 7.7% 20px;
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    transform: translateY(-50px);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
    @include mq(pc){
        display: none;
    }
    &.is-active{
        display: block;
        opacity: 1;
        transform: translateY(0);
        visibility: visible;
        pointer-events: auto;
        transition: opacity 0.6s ease, transform 0.6s ease, visibility 0s;
    }
    &__nav{
        width: 100%;
        height: 100%;
        max-height: 90dvh;
        display: flex;
        flex-direction: column;
        overflow: auto;
        border-top: 2px solid $bg-beige;
        &-item{
            border-bottom: 2px solid $bg-beige;
            &--contact{
                padding: 2px 0;
                .l-menu__nav-link{
                    background: $yellow;
                    border-radius: 10px;
                }
            }
        }
        &-link{
            padding: 22px 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            span{
                font-family: "Roboto", sans-serif;
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 1;
            }
            img{
                width: 7px;
            }
        }
        &-list{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
        }
        &-item{
            width: 100%;
        }
    }
}